* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #C2B280;
    display: flex;
    flex-direction: column;
}

.prof {
    border-radius: 10em;
}

.beach {
    margin-bottom: 15em;
    z-index: -1;
}

.wave1 {
    filter: drop-shadow(0 -2px 0 #FFFFFF);
    opacity: 85%;
}

.wave2 {
    filter: drop-shadow(0 -2px 0 #FFFFFF);
    position: absolute;
    top: 47.3em;
}

.wave3 {
    filter: drop-shadow(0 -2px 0 #FFFFFF);
    position: absolute;
    top: 63.4em;
}

.wave4 {
    filter: drop-shadow(0 -2px 0 #FFFFFF);
    position: absolute;
    top: 79.5em;
}

.wave5 {
    filter: drop-shadow(0 -2px 0 #FFFFFF);
    position: absolute;
    top: 95.7em;
}


section {
    margin: 0;
    /* overflow: auto; */
    /* padding-bottom: 15em; */
    /* display: inline-block; */
}

figure {
    text-align: center;
    padding: 10vw 5vw;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}

.shallow {
    background-color: #def3f6;
    opacity: 85%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 2em;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    gap: 1em;
    
}

.swim {
    background-color: #7fcdff;
}

.surf {
    background-color: #76b6c4;
}

.shark {
    background-color: #1da2d8;
}

.deep {
    background-color: #064273;
}

.ripple {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ffffff59;
    z-index: 100;
 }
 
 @keyframes ripple-effect {
    to {
       transform:scale(15);
       opacity: 0.01;
       z-index: 100;
    }
 }

/* Ocean color pallete: https://www.color-hex.com/color-palette/3497 */